#1. Introduction to Python

# What do we need language ?
Language is one of the most important parts of any culture. It is the way by which people communicate with one another, build relationships, and create a sense of community

# What is a Typed language ?

Typed languages can be classified into two categories -

1. Statically typed languages
2. Dynamically typed languages

# 1. Statically typed languages -
Statically typed languages are the languages like C, C++, Java, etc, In this type of language the data type of a variable is known at the compile time which means the programmer has to specify the data type of a variable at the time of its declaration. We have to pre-define the return type of function as well as the type of variable it is taking or accepting for further evaluations

In [ ]:
# str vrushabh = "Data"
# int data = 20
# float kasliwal = 32.0

# 2. Dynamically typed languages -
These are the languages that do not require any pre-defined data type for any variable as it is interpreted at runtime by the machine itself. In these languages, interpreters assign the data type to a variable at runtime depending on its value. We don’t even need to specify the type of variable that a function is returning or accepting in these languages. JavaScript, Python, Ruby, Perl, etc are examples of dynamically typed languages

In [ ]:
vrushabh = 20
kasliwal = 20.145
position = "Data Scientist"

# What is Python?
Python is a high-level, general-purpose, and very popular programming language. Python programming language (latest Python 3.12.4) is being used in web development, and Machine Learning applications, along with all cutting-edge technology in Software Industry. Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc.

# Python Feature

1. Simple and Easy to Learn
2. Interpreted
3. High-Level
4. Dynamic Typing
5. Strong Typing
6. Extensive Standard Library
7. Cross-Platform
8. Community and Ecosystem
9. Versatile

In [ ]:
# Using Double quote

print("Hello World!")

Hello World!

In [ ]:
# Using Single quote

print('Hello World!')

Hello World!

In [ ]:
# Double quote and single quote cannot used simultaneously.

print("Hello World!')

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-5-7447c59b5719>, line 3)

In [ ]:
# Python is case sensitive language and here error is beacuse of capital P in print.

Print("Hello World!")

NameError: name 'Print' is not defined

In [ ]:
print("Hello Vrushabh! Welcome to the world of programming!!")

Hello Vrushabh! Welcome to the world of programming!!

In [ ]:
print("Hello")
print()
print()
print("World!")

Hello


World!

In [ ]:
print("Hello")
print("")
print("")
print("World!")

Hello


World!

In [ ]:
# If a space is printed or not examine the console output or dry run your code with the help of pen and paper.

print("Hello")
print(" ")   # space
print(" ")   # space
print("World!")

Hello


World!

In [ ]:
print(10 + 5)

15

In [ ]:
# It is string

print("10 + 5")

10 + 5

In [ ]:
print(10 - 5)

5

In [ ]:
print(10 * 5)

50

In [ ]:
# 10 / 5 answer is 2 but it gives 2.0 (both are int type value)

print(10 / 5)

2.0

In [ ]:
print(10.0 // 2)

5.0

In [ ]:
print(-10.0 // 2.5)

-4.0

In [ ]:
print("10 / 5")

10 / 5

# Assignment Problem

In [ ]:
'''
Print the following text in the output -

Hello

World !
Note : There is a empty line you need print between Hello and World !

'''
# 1 way
print("Hello")
print()
print("World !")

print()
# 2 way
print("Hello","",sep = "\n")
print("World !")

Hello

World !

Hello

World !

In [ ]:
'''

Print the following text -

Hello 40
50 World !

'''

print("Hello 40")
print("50 World !")

Hello 40
50 World !

In [ ]:
'''

Print the following text -

Hello
World !

'''
# 1 way
print("Hello")
print("World !")
print()

# 2 way
print("Hello","World !",sep="\n")
print()

# 3 way
print("Hello","\nWorld !")

Hello
World !

Hello
World !

Hello
World !

In [ ]:
# Print "Hello World !" in the output.

print("Hello World !")

Hello World !

In [ ]:
'''

Your task is to print the pattern given below.

*
**
***
****
*****
******

The output is in the same format as shown in the problem description.

'''

# 1 way

print("*")
print("**")
print("***")
print("****")
print("*****")
print("******")

# 2 way

print()
print("*","\n**","\n***","\n****","\n******","\n*******")

*
**
***
****
*****
******

*
**
***
****
******
*******

In [ ]:
print("vrushabh\n","kasliwal")
print()
print("vrushabh","\nkasliwal")

vrushabh
 kasliwal

vrushabh
kasliwal

In [ ]:
'''

Problem Description -

Take two strings "str1" and "str2" as input. Then your task is to concatenate the two strings and print the resultant
concatenated string.

Sample Input -

str1 = Scaler
str2 = Academy

Output - ScalerAcademy

'''
# 1 way

str1 = input()
str2 = input()
str3 = str1 + str2
print(str3)
print()
print()

# 2 way

str1 = input()
str2 = input()
print(str1 + str2)

Scaler
Academy
ScalerAcademy


Scaler
Academy
ScalerAcademy

# Additional Problems

In [ ]:
'''

Print first 5 odd numbers i.e. 1, 3, 5, 7, 9.

Print first five odd numbers separated by space.

'''
print(1,3,5,7,9,sep=" ")

1 3 5 7 9

In [ ]:
'''

Perform the following operations on 6 and 3 and print their respective outputs in different lines.
1. Addition
2. Subtraction
3. Multiplication
4. Division

Print the output of 6 + 3, 6 - 3, 6 * 3, 6 / 3 in separate lines

'''
# 1 way

print(6 + 3)
print(6 - 3)
print(6 * 3)
print(6 / 3)
print()

# 2 way

print(6 + 3 , 6 - 3 , 6 * 3 , 6 / 3 , sep = "\n")

9
3
18
2.0

9
3
18
2.0

In [ ]:
# Think - If one value is a float, the result will be in floating - point format.

print(10.0 // 2)

5.0

In [ ]:
# Think

print(-10.0 // 2.5)

-4.0

In [ ]:
# Rounding off function
# round(print(1234.1245),2)

n = 1245.1545
x = round(n,2)
print(x)

1245.15

In [ ]:
# Positive rounding

h = 12484.15489849
y = round(h,3)
print(y)

12484.155

In [ ]:
# Negative rounding

f = 12484.15489849
z = round(f,-2)
print(z)

12500.0

In [ ]:
'''

Problem Description -
Print first 5 even numbers i.e. 0, 2, 4, 6, 8.


Output Format -
Print first five even numbers separated by space.

'''
# 1 way

print(0,2,4,6,8,sep = " ")
print()

# 2 way

print(0,2,4,6,8)

0 2 4 6 8

0 2 4 6 8

In [ ]:
print("*","\n**")
print()
print()
print("*\n","**")

*
**


*
 **

In [ ]:
print("   *  ","\n"," ***")

   *
  ***

In [ ]:
'''

Write a program to print the pattern given below -

   *
  ***
 *****
*******

The output format should be same as the problem description.

'''
# 1 way

print("    *    \n","  ***  \n"," ***** \n","*******\n")
print()

# 2 way

print("   *   ")
print("  ***  ")
print(" ***** ")
print("*******")

    *
   ***
  *****
 *******


   *
  ***
 *****
*******

In [ ]:
'''


DEFAULT VALUES -

   sep = " "   -- Space
   end = "\n"  -- New Line


'''

'\n\n\nDEFAULT VALUES -\n\n   sep = " "   -- Space\n   end = "\n"  -- New Line\n\n\n'