# 2. Data Types

# Data Types
Python supports various data types, including integers, floats, strings, lists, tuples, dictionaries, and more.

A. Numeric -
1. Integers - Whole numbers without decimals.
2. Floats - Numbers with decimals.
3. Complex - Numbers with both real and imaginary parts.

B. Dictionary

C. Boolean

D. Set

E. Sequence / Collection Type -
1. Strings - Text enclosed in single or double quotes.
2. Lists - Ordered collections of items.
3. Tuples - Immutable collections of items.

# Rules for Python variables
1. A Python variable name must start with a letter or the underscore character.
2. A Python variable name cannot start with a number.
3. A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
4. Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
5. The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [ ]:
'''
How to define variable ?

'''

variable1 = 12154     # correct way
_variable1 = 12154    # correct way

1variable = 12154     # wrong way
$variable = 12154     # wrong way
variable* = 12154     # wrong way
variable$ = 12154     # wrong way

SyntaxError: invalid decimal literal (<ipython-input-28-27216045d063>, line 9)

In [ ]:
# Here are the 3 examples. Which options are correct ?

'''

1. Example

print = 7
print(print)

2. Example

PRINT = 7
print(PRINT)

3. Example

Data-Squad = 7
print(Data-Squad)

'''

# Type Casting in Python (Implicit and Explicit)

Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users.

# There can be two types of Type Casting in Python -

1. Python Implicit Type Conversion
2. Python Explicit Type Conversion

# 1. Implicit Type Conversion in Python -
In this, method, Python converts the datatype into another datatype automatically. Users donâ€™t have to involve in this process.

In [ ]:
Vrushabh = input()
print(type(Vrushabh))

10
<class 'str'>

In [ ]:
Data = input()
print(type(Data))

415.2356
<class 'str'>

In [ ]:
Vrushabh = 12
print(type(Vrushabh))

<class 'int'>

In [ ]:
Data = 2.0
print(type(Data))

<class 'float'>

In [ ]:
Vrushabh = True
print(type(Vrushabh))

<class 'bool'>

# 2. Explicit Type Conversion in Python -

# In this method, Python needs user involvement to convert the variable data type into the required data type.

Mainly type casting can be done with these data type functions -

1. Int() - Python int() function take float or string as an argument and returns int type object.

2. float() - Python float() function take int or string as an argument and return float type object.

3. str() -  Python str() function takes float or int as an argument and returns string type object.

In [ ]:
Vrushabh = int(input())
print(Vrushabh)

kasliwal

ValueError: invalid literal for int() with base 10: 'kasliwal'

In [ ]:
Data = float(input())
print(Data)

15
15.0

In [ ]:
Vrushabh = "10"
print(int(Vrushabh))

10

In [ ]:
Data = "xyz"
print(int(Data))

ValueError: invalid literal for int() with base 10: 'xyz'

In [ ]:
Vrushabh = "10"
print(float(Vrushabh))

10.0

In [ ]:
Data = 8.87
Science = int(Data) + 1
print(Science)

9

In [ ]:
Vrushabh = 8
Kasliwal = str(Vrushabh) + 1
print(Kasliwal)

TypeError: can only concatenate str (not "int") to str

In [ ]:
Vrushabh = int(input("Enter a integer number - "))
print("Your entered number -",Vrushabh)

Enter a integer number - 10
Your entered number - 10

In [ ]:
print(164659569569596859658968596859685)

164659569569596859658968596859685

In [ ]:
print(2.12345554784598996569)

2.1234555478459898

In [ ]:
print("@#$%^&*())!@#$$%%%^^^_ _ _ _ _ _")

@#$%^&*())!@#$$%%%^^^_ _ _ _ _ _

# How to check type of data types ??

In [ ]:
print(type(5))

<class 'int'>

In [ ]:
print(type(2.12))

<class 'float'>

In [ ]:
# Type is not defined in proper way

print(Type(False))

NameError: name 'Type' is not defined

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
# True is not written in proper way

print(type(true))

NameError: name 'true' is not defined

In [ ]:
print(type(True))

In [ ]:
print(type("True"))

<class 'str'>

In [ ]:
# print does not store anything, it only show the output on the screen

type(print("abcdefgh"))

abcdefgh

NoneType

# Use of sep and end -

In [ ]:
print(4,5,6,7,"bce",sep="+")

4+5+6+7+bce

In [ ]:
print("Hello",end="join")
print("Vrushabh Kasliwal")

HellojoinVrushabh Kasliwal

In [ ]:
print(1,2,3,4,5,sep="\n")

1
2
3
4
5

In [ ]:
print("Python","Sql","Numpy","Pandas",sep = "Science",end = "t")
print("\nVrushabh")

PythonScienceSqlScienceNumpySciencePandast
Vrushabh

In [ ]:
print("Python","Sql","Numpy","Pandas",sep = "Science",end = "t\n")
print("Vrushabh")

PythonScienceSqlScienceNumpySciencePandast
Vrushabh

In [ ]:
print("Python","Sql","Numpy","Pandas",sep = "Science",end = "t/n")
print("Vrushabh")

PythonScienceSqlScienceNumpySciencePandast/nVrushabh

In [ ]:
# Tricky code

print("*****\t*",end ="vrushabh")
print("something",sep ="+")
print("hello data scientist",sep =" ++++ ")

*****	*vrushabhsomething
hello data scientist

In [ ]:
# Tricky code

print("*****\t*",end ="data")
print("something",sep ="+")
print("hello","data","scientist",sep =" ++++ ")

*****	*datasomething
hello ++++ data ++++ scientist

In [ ]:
# Tricky code

print("*****\t*",end ="data")
print("something",sep ="+")
print("hello","data","scientist",end =" ++++ ")

*****	*datasomething
hello data scientist ++++

In [ ]:
# Concatented string

num1 = input()
num2 = input()
print(num1 + num2)

10
20
1020

In [ ]:
num1 = int(input("Enter a integer value - "))
num2 = int(input("Enter a integer value - "))
sum = num1 + num2
print("SUM IS -",sum)

Enter a integer value - 10
Enter a integer value - 15
SUM IS - 25

In [ ]:
# Expoential Value

num1 = int(input("enter a value - "))
num2 = int(input("enter a value - "))
print(num1 ** num2)

enter a value - 10
enter a value - 3
1000

# Intresting Concepts

In [ ]:
Val = -8.123
print(int(Val))

-8

In [ ]:
Num = 5.0
print(int(Num))

5

In [ ]:
Data = "5"
print(int(Data))

5

In [ ]:
Value = "5.0"
print(int(Value))

ValueError: invalid literal for int() with base 10: '5.0'

In [ ]:
# How to solve above code error

Value = "5.0"
print(int(float(Value)))

5

# Assignment Problems

In [ ]:
'''

Example Input -
Ram

Example Output -
Hello Ram

'''
name = input()
print("Hello",name)

Ram
Hello Ram

In [ ]:
'''

Your friend Rahul plans to visit exotic countries all around the world.
Sadly, Rahul's math skills aren't good enough.
Given the amount of money Rahul has before the currency exchange and the amount of money that is spent from his savings,
print the amount of money that remains in his savings.

Input -
116
12

Output -
104

'''
Amount_of_money_spent = int(input())
Exchanging_amount = int(input())
Amount_of_money_that_left = Amount_of_money_spent - Exchanging_amount
print(Amount_of_money_that_left)

116
12
104

In [ ]:
'''

Problem Description
Given two numbers A and B. Concatenate the two numbers and print it.


Input Format -
There are two input lines
The first line has a single integer A.
The second line has a single integer B.


Output Format -
Print in a single line the concatenated number.


Example Input -
Input 1 -
4
5
Input 2 -
16
2


Example Output -
Output 1 -
45
Output 2 -
162


Example Explanation -
Explanation 1 -
Concatenation of 4 and 5 is 45.
Explanation 2 -
Concatenation of 16 and 2 is 162.

'''
# 1 way

Num_1 = input()
Num_2 = input()
print(Num_1 + Num_2)
print("-------")

# 2 way

Num_1 = int(input())
Num_2 = int(input())
# Typecasting of two input numbers
Num_3 = str(Num_1)
Num_4 = str(Num_2)
print(Num_3 + Num_4)

4
5
45
-------
4
5
45

In [ ]:
'''

Print the first five letters of the English alphabet i.e. A, B, C, D and E.

Output -
A
B
C
D
E

'''
# 1 way

print("A","B","C","D","E",sep="\n")
print("-------")
# 2 way

print("A\nB\nC\nD\nE")

A
B
C
D
E
-------
A
B
C
D
E

In [ ]:
'''

Given two names A and B as input, print "A says Hi to B" (Without quotations), where A and B are the names in input.

Output:-
Ram says Hi to Shyam

'''

Input_1 = input()
Input_2 = input()
print(Input_1,"says Hi to",Input_2)

Ram
Shyam
Ram says Hi to Shyam

# Additional Problems

In [ ]:
'''

You're going to write some code to help you cook a gorgeous lasagna from your favorite cookbook.
According to your cookbook, the Lasagna should be in the oven for 40 minutes. Given the time (in minutes), the lasagna has been in the oven,
find how many more minutes the lasagna still needs to bake for.

Input -
30

Output -
10

'''

Time_Minutes = int(input())
Lasagna_in_the_oven = 40
print(Lasagna_in_the_oven - Time_Minutes)

30
10

In [ ]:
'''

You'll write some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you also want to add a few layers to the lasagna. Assume **each layer takes 2 minutes** to prepare.
Given the number of layers you want to add to the lasagna, find how many minutes you would spend making them.

Example Input
Input -
2

Example Output
Output -
4

'''

Number_of_layers_you_want_to_add_to_the_lasagna = int(input())
Each_layers_takes = 2
How_many_minutes_spend_to_baking = Number_of_layers_you_want_to_add_to_the_lasagna * Each_layers_takes
print(How_many_minutes_spend_to_baking)

2
4

In [ ]:
'''

Problem Description
You wrote some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you want to find the total number of minutes you've been cooking
for the sum of your preparation time and the time the lasagna has already spent baking in the oven.
The preparation time of one layer is 2 minutes.
Given the number of layers added to the lasagna and the number of minutes the lasagna has been baking in the oven,
find the total elapsed cooking time (prep + bake) in minutes.

Example Input -
Input 1 -
3
20

Input 2 -
1
29


Example Output -
Output 1 -
26

Output 2 -
31

'''

Number_of_layers_added_to_the_lasagna = int(input())
Number_of_minutes_the_lasagna = int(input())
Preparation_time_of_one_layer = 2
Total_elapsed_cooking_time = (( Preparation_time_of_one_layer * Number_of_layers_added_to_the_lasagna ) + Number_of_minutes_the_lasagna)
print(Total_elapsed_cooking_time)

3
20
26

In [ ]:
'''

Given the value of a single bill and the number of bills you received, print the total value of the bills.

Note: The value of all the bills are same

Input -
12
10

Output -
120

'''

Value_of_single_bill = int(input())
Number_of_bills = int(input())
Total_value_of_bills = Value_of_single_bill * Number_of_bills
print(Total_value_of_bills)

12
10
120

In [ ]:
'''

Problem Description

Your friend Rahul plans to visit exotic countries all around the world. Sadly, Rahul's math skills aren't good enough. Take the amount of money Rahul has before the currency exchange and the amount of money that is spent from his savings as input, print the amount of money that remains in his savings.

Input Format -
The first line contains an integer N denoting the total savings, the amount of money before exchange.
The second line contains an integer M denoting the exchanging amount, denoting the amount of money that is spent from the savings.

Output Format -
Print a single line denoting the amount of money that is left in his savings.

Problem Constraints -
1 <= N <= 1000
1 <= M <= N

Example Input
Input -
116
12

Example Output
Output -
104

'''

Amount_of_money_spent = int(input())
Exchanging_amount = int(input())
Amount_of_money_that_left = Amount_of_money_spent - Exchanging_amount
print(Amount_of_money_that_left)

116
12
104

# Extra Problems

In [ ]:
# Take 5 subject marks from user and display average

m_math = 68
m_eng = 75
m_phy = 85
m_chem = 95
m_bio = 80

TOTAL = m_math + m_eng + m_phy + m_chem + m_bio

P = (TOTAL / 500) * 100

T1 = "Your percentage is"
T2 = "%"

print(T1,int(P),T2)
print()
print(T1,round(P,1),T2)

Your percentage is 80 %

Your percentage is 80.6 %

In [ ]:
# How to find quotient and remainder of number

Num_1 = 14
Num_2 = 7
print(Num_1 / Num_2)
print("Quotient = ", Num_1 // Num_2)
print("Remainder = ", Num_1 % Num_2)

2.0
Quotient =  2
Remainder =  0